<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5113/CatalogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogService"
                contract="ICatalogService" name="BasicHttpBinding_ICatalogService" />
        </client>
    </system.serviceModel>
</configuration>