<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
      <!--<add key="dpiawareness" value="permonitorv2"/>-->
      <!-- Uncomment each value to disable the fixes one by one. -->
    <!--<add key="ToolStrip.DisableHighDpiImprovements" value="true"/>
    <add key="CheckedListBox.DisableHighDpiImprovements" value="true"/>
    <add key="MonthCalendar.DisableHighDpiImprovements" value="true"/>
    <add key="AnchorLayout.DisableHighDpiImprovements" value="true"/>
    <add key="DataGridView.DisableHighDpiImprovements" value="true"/>-->
      
    </System.Windows.Forms.ApplicationConfigurationSection>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62314/CatalogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogService"
                contract="eShopServiceReference.ICatalogService" name="BasicHttpBinding_ICatalogService" />
        </client>
    </system.serviceModel>
</configuration>
